.quickdial-text{
	line-height: 22px;
	text-align: center;
	width:135px;
}
.quickdial-text a{
	color: #fff;
}
#quickdialbox.noflash .flash a {
	cursor:default;
	color:#ccc;
}
#quickdialbox.noflash .flash a:hover {
	text-decoration: none;
	color:#ccc;
}
#quickdialbox.nomobile .mobile a{
	cursor:default;
	color:#ccc;
}
#quickdialbox.nomobile .mobile a:hover {
	text-decoration: none;
	color:#ccc;
}
#quickdialbox.nophone .phone a {
	cursor:default;
	color:#ccc;
}
#quickdialbox.nophone .phone a:hover {
	text-decoration: none;
	color:#ccc;
}
#quickdialbox .transfer{
	display: none;
}
#quickdialbox.transfer .transfer{
display:block;
}
#quickdialbox .conference{
	display: none;
}
#quickdialbox.conference .conference{
display:block;
}
#quickdialbox.conference .conference.active, #quickdialbox.transfer .transfer.active, #quickdialbox .phone.active, #quickdialbox .flash.active, #quickdialbox .mobile.active{
	color: #CCC;/*green*/
}
#quickdial-dialpad{
	color: #fff;
}
#quickdialbox a:hover, #quickdial-dialpad:hover{
	color: #CCC;/*green*/
	text-decoration: none;
}
br { clear: both;}
#settingsmenu {
float: right;
padding: 10px 20px 10px 20px;
}
#settingsmenu a {
cursor: pointer;
text-decoration: none;
color: black;
font-family: tahoma, arial, serif;
}
#settingsmenu a:active { 
text-decoration: none;
color: black;
cursor: pointer;
font-family: tahoma, arial, serif;
}
#settingsmenu a:visited {
text-decoration: none;
cursor: pointer;
color: black;
font-family: tahoma, arial, serif;
}
#settingsmenu a:link {
text-decoration: none;
cursor: pointer;
color: black;
font-family: tahoma, arial, serif;
}
strong {
font-weight: bolder;
}
.remarks-up {
height: 20px;
left: 0;
position: absolute;
top: 0;
visibility: hidden;
width: 1035px;
z-index: 5;
}
.remarks-down {
height: 20px;
left: 0;
position: absolute;
bottom: 0;
visibility: hidden;
width: 1035px;
z-index: 5;
}
.activateHeader {
	margin: 0 auto;
	padding: 0em;
	text-align: center;
	background: #ECECEC;
	background-size: contain;
}
.topheader {
	background: #283360 url(../images/header-bg.png) repeat-x;
	height: 74px;
}
.activate .activateHeader {
	line-height: 1em;
	margin: 0 auto;
	padding: 1.3em 0 1.3em;
	width: 90%;
	max-width: 1100px;
	overflow: hidden;
}
.activateHeader h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}
.component h2 {
    padding: 6px 0;
    font-size: 20px;
}
.activateHeader span {
	display: block;
	font-size: 60%;
	margin-top: 16px;
	padding: 0 0 0.6em 0.1em;
}
.activate table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
.activateContainer.activate .component table td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
.activateContainer.activate .component table tr td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
.activateContainer.activate .component table thead tr th {
    background-color: #064481;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
	font-size:13px;
}
.activateContainer.activate .component table thead tr th:first-child {
}
.activateContainer.activate .component table tbody th {
	background-color: #002549;
	color: #fff;
}
.activateContainer.activate .component table tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
.activateContainer.activate .component table tbody td:last-child {
	color: #04CC0E;
	}
.activateContainer.activate .component table tbody td:last-child.invalid {color:#FF0004;}
.activateContainer.activate .component table tbody tr:hover {
    background-color: rgba(312,208,177,.3);
}
.activate-btn form input {
    width: 390px;
    padding: 9px;
    margin-top: 10px;
}
.activate-btn {
	padding-top: 1em;
	font-size: 0.8em;
}
.activate-btn .error { font-size: 15px; padding-top: 8px; color: #E40000; font-weight: bold; width: 630px; margin: 0 auto;}
.activate-btn form {margin:0;}
.activate-btn a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	border: 2px solid #FFAD00;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}
.activate-btn a:hover,
.activate-btn a.current-btn,
.activate-btn a.current-btn:hover {
	border-color: #FF9847;
	color: #FF9847;
}
.activateContainer .component h1 {
    font-size: 27px;
}
.component {
	line-height: 1em;
	margin: 0 auto;
	padding: 1.3em 0 1.3em;
	width: 90%;
	max-width: 1100px;
	overflow: hidden;
}
.activate-btn a{
	color: #585858;
	text-decoration: none;
	border: 3px solid;
	padding: 8px;
}
.component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
#activate .component table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
	
    border: #ccc 1px solid;
    margin: 40px 0;
}
#activate .component tbody tr.total th  {background:#DDDDDD;}
#activate .component td, th {
    padding: 0.75em 1.5em;
    /* text-align: left; */
}
.total th {text-align:center;}
	#activate .component td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
#activate .component th {
    /* background-color: #DDDDDD; */
    font-weight: bold;
    color: #363636;
    white-space: nowrap;
}
#activate .component tbody th {
	/* background-color: #F3F3F3; */
}
#activate .component tbody tr:nth-child(2n-1) {
    /* background-color: #f5f5f5; */
    transition: all .125s ease-in-out;
}
.invalid {background: #FFEAEA;color: #F00 !important;font-weight: bold;}
#activate .component tbody td:last-child {
	color: #04CC0E;
	}
#activate .component tbody td:last-child.invalid {color:#FF0004;}
#activate .component tbody tr:hover {
    background-color: rgba(312,208,177,.3);
}
.centerText th,tr {text-align:left;}
#activate td {text-align: center;}
.notes {
font-size: 80%;
font-weight: bolder;
visibility: visible;
background-color: #FFF1A8;
color: #000000;
padding: 3px 3px 0;
text-align: center;
}
.bs-callout{margin:20px 0;padding:20px;border-left:3px solid #eee}.bs-callout h4{margin-top:0;margin-bottom:5px}.bs-callout p:last-child{margin-bottom:0}.bs-callout code{background-color:#fff;border-radius:3px}.bs-callout-danger{background-color:#fdf7f7;border-color:#d9534f}.bs-callout-danger h4{color:#d9534f}.bs-callout-warning{background-color:#fcf8f2;border-color:#f0ad4e}.bs-callout-warning h4{color:#f0ad4e}.bs-callout-info{background-color:#f4f8fa;border-color:#5bc0de}.bs-callout-info h4{color:#5bc0de}
.noKey {
	width: 60%;white-space:normal;font-size: 15px;padding: 30px;font-weight: normal;text-align: center;margin: 0 auto;line-height: 21px;}
.dialPadLine{
	z-index: 200;
	position: relative;
}
.big {
    text-align: center;
    font-size: 30px;
}
.web-icon {background-image:url(../images/web-icon.png);display: inline-block;width: 22px;height: 24px;line-height:normal;vertical-align:baseline;background-position:0 0;background-repeat: no-repeat;margin-top:0px;vertical-align: middle;}
.phone-icon {background-image:url(../images/phone-icon.png);display: inline-block;width: 22px;height: 24px;line-height:normal;vertical-align:baseline;background-position:0 0;background-repeat: no-repeat;margin-top:0px;vertical-align: middle;}
.mobile-icon {background-image:url(../images/mobile-icon.png);display: inline-block;width: 22px;height: 24px;line-height:normal;vertical-align:baseline;background-position:0 0;background-repeat: no-repeat;margin-top:0px;vertical-align: middle;}
.transfer-icon {background-image:url(../images/transfer-icon.png);display: inline-block;width: 22px;height: 24px;line-height:normal;vertical-align:baseline;background-position:0 0;background-repeat: no-repeat;margin-top:0px;vertical-align: middle;}
.whiteBg {background-color: #fff;padding-top: 30px;}
.content.userlist {width: 88%;margin: 0 auto;}
.content.userlist .nav {margin-bottom: 0;}
.content.userlist .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {background-color: #FA952B;color: #fff;}
