<?xml version="1.0"?>
<FonbMenuTextMenu defaultIndex="0" style="none" Beep="no">
	<Title wrap="yes/no">FonB</Title>
	<MenuItem>
		<Prompt>Call History</Prompt>
		<URI>http://{{Host}}/xml/en/Yealink/listcallhistory.xml</URI>
	</MenuItem>
	<MenuItem>
		<Prompt>Contact Search</Prompt>
		<URI>http://{{Host}}/xml/en/Yealink/phonebook.xml</URI>
	</MenuItem>
	<MenuItem>
		<Prompt>Logout</Prompt>
		<URI>http://{{Host}}/xml/en/Yealink/menu.xml?logout=yes</URI>
	</MenuItem>
</FonbMenuTextMenu>