<?xml version="1.0" encoding="UTF-8"?> 
<SnomIPPhoneMenu>
	<Title>Menu</Title>
	<MenuItem>
		<Name>List Phonebook</Name>
		<URL>http://{{Host}}/xml/en/snom/color/listphonebook.xml?FilterSearch=</URL>
	</MenuItem>
	<MenuItem>
		<Name>Call History</Name>
		<URL>http://{{Host}}/xml/en/snom/color/listcallhistory.xml</URL>
	</MenuItem>
	<MenuItem>
		<Name>Shortcuts</Name>
		<URL>http://{{Host}}/xml/en/snom/color/help.xml</URL>
	</MenuItem>
	<MenuItem>
		<Name>Logout</Name>
		<URL>http://{{Host}}/xml/en/snom/color/menu.xml?logout=yes</URL>
	</MenuItem>
	<SoftKeyItem>
	 <Name>CANCEL</Name>
	 <Label>CANCEL</Label>
	 <Softkey>F_ABORT</Softkey>
	</SoftKeyItem>
</SnomIPPhoneMenu>
