
<div class="topheader">
  <div class="codrops-top clearfix component activate" style="text-align: center;"> <a href="#"><img src="http://aptus.com/images/logo-slogan.png" alt=""></a> </div>
</div>
<div class="whiteBg">
<div class="content userlist">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a href="users.php">User Admin Panel</a></li>
        <li><a href="license">FonB License</a></li>
        <li class="active"><a href="/admin" data-toggle="tab">FonB Corporate Contacts</a></li>
        <li><a href="config.php">FonB Settings</a></li>
    </ul>
</div>
</div>
<div class="content userlist">
<div class="choseExt">
{{#License}}
<p><strong>Choose which extensions you want to enable with FonB?</strong></p>
<p>
FonB License Statistics: 
(Web: <span id="usedWeb"></span id="usedWeb">/<span id="WebMaxUsers">{{WebMaxUsers}}</span id="WebMaxUsers">)
(Mobile: <span id="usedMobile"></span id="usedMobile">/<span id="MobileMaxUsers">{{MobileMaxUsers}}</span id="MobileMaxUsers">)
</p>
{{/License}}
</div>
</div>
<table id="fields" class="table" style="font-size: 12px;" width="100%" >
    <tbody class="field_tbody" id="fieldset_heading">
    </tbody>
</table>
<div class="content userlist">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a href=""><img src="/images/add-new-contacts.png"> Add Contact</a></li>
        <li><a href=""><img src="/images/delete-contact.png"> Delete Selected</a></li>
        <li><a href=""><img src="/images/filter.png"> Hide Filter</a></li>
        <li><a href="">Download</a></li>
    </ul>
</div>
<form action="saveusers.php" id="update_form" method="post">
<!-- Print all the Extensions defined in Elastix -->
                <table class="table userlist">
                   <tbody class="field_tbody">
                   	<thead>
		        <tr class="field_row">
		            <th style="width:5%;" class="field_column">First Name</th>
		            <th style="width:10%;" class="field_column">Last Name</th>
		            <th style="width:4%;" class="field_column">Company</th>
		            <th style="width:5%;" class="field_column">Speed Dial</th>
		            <th style="width:12%;" class="field_column">Label</th>
		            <th style="width:10%;" class="field_column">Value</th>
		            <!-- <th style="width:10%;" class="field_column">BaseDir</th> -->
		            <!-- <th style="width:5%;" class="field_column">Language</th> -->
		            <th style="width:5%;" class="field_column">Source</th>
					<th style="width:5%;" class="field_column"></th>
		        </tr>
		        </thead>
{{#each Extensions}}
		<tr class="field_row extensiondata" id="ext{{Extension}}">
			<td style="width:5%;" class="field_column">{{Name}}<input type="hidden" value="{{Extension}}" name="{{Extension}}[Extension]"/></td>
			<td style="width:10%;" class="field_column">{{Name}}<input type="hidden" value="{{Name}}" name="{{Extension}}[Name]"/></td>
			<td style="width:4%;" class="field_column">
				Aptus
			</td>
			<td style="width:5%;" class="field_column">
				04
			</td>
			<!-- <td style="width:5%;" class="field_column"><input type="text" value="{$fields.Mobile}" name="{{Extension}}[Mobile]"/></td> -->
			<td style="width:12%;" class="field_column">Max_Speed_Dial</td>
			<td style="width:10%;" class="field_column">0528676505</td>
			<td style="width:5%;" class="field_column ColType">asterisk</td>
			<td style="width:5%;" class="field_column">
                		<a class="info" href="edituser.php?action=EditValues&Exten={{Extension}}" title="{{Spy}}">Edit</a>
			</td>
			<td style="width:5%;" class="field_column">
                		
			</td>
			<td style="width:5%;" class="field_column">
                		
			</td>
				<input type="hidden" value="{{Spy}}" name="{{Extension}}[Spy]"/>
				<input type="hidden" value="{{Type}}" name="{{Extension}}[Type]"/>
				<input type="hidden" value="{{HaveRingGroups}}" name="{{Extension}}[HaveRingGroups]"/>
				<input type="hidden" value="{{RingGroups}}" name="{{Extension}}[RingGroups]"/>
				<input type="hidden" value="{{HaveQueues}}" name="{{Extension}}[HaveQueues]"/>
				<input type="hidden" value="{{Queues}}" name="{{Extension}}[Queues]"/>
				<!-- 
				<input type="hidden" value="{{BaseDir}}" name="{{Extension}}[BaseDir]"/>
				<input type="hidden" value="{{Language}}" name="{{Extension}}[Language]"/>
				-->
		</tr>
{{/each}}

<!-- Print all Deleted-Extensions defined in Have -->
{{#if DeletedExtensions}}
		        <tr>
				<td colspan="9"></td>
		        </tr>
{{#each DeletedExtensions}}
		<tr class="field_row deletedextensiondata">
			<td style="width:5%;" class="field_column">{{Extension}}<input type="hidden" value="{{Extension}}" name="{{Extension}}[Extension]"/></td>
			<td style="width:10%;" class="field_column">{{Name}}<input type="hidden" value="{{Name}}" name="{{Extension}}[Name]"/></td>
			<td style="width:4%;" class="field_column"></td>
			<td style="width:5%;" class="field_column"></td>
			<!-- <td style="width:5%;" class="field_column"><input type="text" value="{$fields.Mobile}" name="{{Extension}}[Mobile]"/></td> -->
			<td style="width:12%;" class="field_column"><input type="text" value="{{Company}}" name="{{Extension}}[Company]"/></td>
			<td style="width:10%;" class="field_column"><input type="text" value="{{Department}}" name="{{Extension}}[Department]"/></td>
			<!-- <td style="width:10%;" class="field_column"><input type="text" value="{{BaseDir}}" name="{{Extension}}[BaseDir]"/></td> -->
			<!-- <td style="width:5%;" class="field_column"><input type="text" value="{{Language}}" name="{{Extension}}[Language]"/></td> -->
			<td style="width:5%;" class="field_column ColType">{{Type}}</td>
			<td style="width:5%;" class="field_column">
			</td>
			<td style="width:5%;" class="field_column">
			</td>
			<td style="width:5%;" class="field_column">
			</td>

		</tr>
				<input type="hidden" value="{{Type}}" name="{{Extension}}[Type]"/>
				<!--
				<input type="hidden" value="{{BaseDir}}" name="{{Extension}}[BaseDir]"/>
				<input type="hidden" value="{{Language}}" name="{{Extension}}[Language]"/>
				-->
				<input type="hidden" value="{{Spy}}" name="{{Extension}}[Spy]"/>
				<input type="hidden" value="{{HaveRingGroups}}" name="{{Extension}}[HaveRingGroups]"/>
				<input type="hidden" value="{{RingGroups}}" name="{{Extension}}[RingGroups]"/>
				<input type="hidden" value="{{Queues}}" name="{{Extension}}[Queues]"/>
				<input type="hidden" value="{{HaveQueues}}" name="{{Extension}}[HaveQueues]"/>
{{/each}}
{{/if}}


<!-- Print all the Ring Groups defined in Elastix -->
{{#if RingGroups}}
		        <tr>
				<td colspan="9"></td>
		        </tr>

{{#each RingGroups}}
		<tr class="field_row ringgroupdata">
			<td style="width:5%;" class="field_column">{{Extension}}<input type="hidden" value="{{Extension}}" name="{{Extension}}[Extension]"/></td>
			<td style="width:10%;" class="field_column">{{Name}}<input type="hidden" value="{{Name}}" name="{{Extension}}[Name]"/></td>
			<td style="width:4%;" class="field_column"></td>
			<td style="width:5%;" class="field_column"></td>
			<!-- <td style="width:5%;" class="field_column"><input type="text" value="{$fields.Mobile}" name="{{Extension}}[Mobile]"/></td> -->
			<td style="width:12%;" class="field_column"></td>
			<td style="width:10%;" class="field_column"></td>
			<!-- <td style="width:10%;" class="field_column"><input type="text" value="{{BaseDir}}" name="{{Extension}}[BaseDir]"/></td> -->
			<!-- <td style="width:5%;" class="field_column"><input type="text" value="{{Language}}" name="{{Extension}}[Language]"/></td> -->
			<td style="width:5%;" class="field_column ColType"><span>{{Type}}</span></td>
			<td style="width:5%;" class="field_column">
			</td>
			<td style="width:5%;" class="field_column">
			</td>
			<td style="width:5%;" class="field_column">
			</td>
		</tr>
				<input type="hidden" value="{{Type}}" name="{{Extension}}[Type]"/>
{{/each}}
{{/if}}

<!-- Print all the current Queues defined in Elastix -->
{{#if Queues}}
		        <tr>
				<td colspan="9"></td>
		        </tr>
{{#each Queues}}
		<tr class="field_row queuedata">
			<td style="width:5%;" class="field_column">{{Extension}}<input type="hidden" value="{{Extension}}" name="{{Extension}}[Extension]"/></td>
			<td style="width:10%;" class="field_column">{{Name}}<input type="hidden" value="{{Name}}" name="{{Extension}}[Name]"/></td>
			<td style="width:4%;" class="field_column"></td>
			<td style="width:5%;" class="field_column"></td>
			<!-- <td style="width:5%;" class="field_column"><input type="text" value="{$fields.Mobile}" name="{{Extension}}[Mobile]"/></td> -->
			<td style="width:12%;" class="field_column"></td>
			<td style="width:10%;" class="field_column"></td>
			<!-- <td style="width:10%;" class="field_column"><input type="text" value="{{BaseDir}}" name="{{Extension}}[BaseDir]"/></td> -->
			<!-- <td style="width:5%;" class="field_column"><input type="text" value="{{Language}}" name="{{Extension}}[Language]"/></td> -->
			<td style="width:5%;" class="field_column ColType">{{Type}}</td>
			<td style="width:5%;" class="field_column">
			</td>
			<td style="width:5%;" class="field_column">
			</td>
			<td style="width:5%;" class="field_column">
			</td>
		</tr>
				<input type="hidden" value="{{Type}}" name="{{Extension}}[Type]"/>
{{/each}}
{{/if}}

                    </tbody>
    </table>

<br>
<input style="width: 181px;margin-left:85%;border-radius: 9px;padding:5px;height: 38px;background-color: #283360;color: #fff;font-size: 16px;" name="action" type="submit" value="Update"/>
<br>
</form>


<form action="{$action}" method="post" class="addnew">
    <table class="table">
       <tbody class="field_tbody">
	<tr class="field_row">
		<th style="width:5%;" class="field_column">Extension</th>
		<th style="width:10%;" class="field_column">Name</th>
		<!-- <th style="width:5%;" class="field_column">Mobile</th> -->
		<th style="width:12%;" class="field_column">Company</th>
		<th style="width:10%;" class="field_column">Department</th>
		<!-- <th style="width:10%;" class="field_column">BaseDir</th> -->
		<th style="width:5%;" class="field_column">Password</th>
		<!-- <th style="width:5%;" class="field_column">Language</th> -->
		<th style="width:5%;" class="field_column">Spy</th>
		<th style="width:5%;" class="field_column">Type</th>
		<th style="width:5%;" class="field_column">Ring Groups</th>
		<th style="width:5%;" class="field_column">Queues</th>
		<th style="width:5%;"  class="field_column"></th>
	</tr>
        <tr class="field_row">
            <td style="width:5%;" class="field_column"><input type="text" name="new_extension[Extension]"/></td>
            <td style="width:10%;" class="field_column"><input type="text" name="new_extension[Name]"/></td>
            <!-- <td style="width:5%;" class="field_column"><input type="text" name="new_extension[Mobile]"/></td> -->
            <td style="width:12%;" class="field_column"><input type="text" name="new_extension[Company]"/></td>
            <td style="width:10%;" class="field_column"><input type="text" name="new_extension[Department]"/></td>
            <!-- <td style="width:10%;" class="field_column"><input type="text" name="new_extension[BaseDir]"/></td> -->
            <td style="width:5%;" class="field_column"><input type="text" placholder="VM pass here" name="new_extension[Password]"/></td>
            <!-- <td style="width:5%;" class="field_column"><input type="text" name="new_extension[Language]"/></td> -->
            <td style="width:5%;" class="field_column"><input type="text" name="new_extension[Spy]"/></td>
            <td style="width:5%;" class="field_column">
                <select name="new_extension[Type]">
                    <option value="internal">Extension</option>
                    <option selected value="deleted">Deleted</option>
                    <option value="ringgroup">Ring Group</option>
                    <option value="queue">Queue</option>
                </select>
            </td>
            <td style="width:5%;" class="field_column"><input type="text" name="new_extension[Queues]"/></td>
            <td style="width:5%;" class="field_column"><input type="text" name="new_extension[RingGroups]"/></td>
            <td style="width:5%;"  class="field_column">
                <input name="action" type="submit" value="Add" style="padding:5px;height: 38px;background-color: #283360;color: #fff;border-radius: 9px;font-size: 16px;"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
