<AastraIPPhoneTextMenu destroyOnExit="no" style="none" defaultIndex="1">
	<Title>FonB Menu</Title>
	<MenuItem>
		<Prompt>Phonebook Search</Prompt>
		<URI>http://{{Host}}/xml/en/Aastra/phonebook.xml</URI>
	</MenuItem>
	<MenuItem>
		<Prompt>Call History</Prompt>
		<URI>http://{{Host}}/xml/en/Aastra/listcallhistory.xml</URI>
	</MenuItem>
	<MenuItem>
		<Prompt>Logout</Prompt>
		<URI>http://{{Host}}/xml/menu.xml?logout=yes</URI>
	</MenuItem>
</AastraIPPhoneTextMenu>