<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FonB License Registration</title>
<link href="css/mainheader.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap/css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
ul, ol {
	list-style:none;margin:0;}
</style>
<body>

<!-- Activate Product -->
<div class="activateContainer" id="activate">
  <div class="codrops-top clearfix component activate" style="text-align: center;"> <a href="#"><img src="images/logo-slogan.png" alt=""/></a> </div>
  <div class="activateHeader">
    <div class="component">
      <h1>Active your license <span>Please enter your license key and press "Activate License" to activate corresponding FonB licenses</span></h1>
      <nav class="activate-btn">
        <form>
          <input type="text" placeholder="Enter your activation key" style="padding:9px;width: 390px;">
          <a href="index.html">Activate License</a>
        </form>
        <p class="error">License is invalid.</p>
      </nav>
    </div>
  </div>
  <div class="component"> {{#ErrorMaxUserLimit}}
    <div class="bs-callout bs-callout-danger">
      <h4>The number of defined users in users.cfg exceeds the maximum allowed users.</h4>
      <ul>
        <li>Please buy additional licenses to use FonB for the add additional users. </li>
        <li>Alternatively you can comment out the password fields of exceeding users in users.cfg.</li>
      </ul>
    </div>
    {{/ErrorMaxUserLimit}}
    {{#ErrorZeroUser}}
    <div class="bs-callout bs-callout-danger">
      <h4>You are currently using unlicensed release of FonB. </h4>
      <ul>
        <li>Please click here to buy the license right now.</li>
        <li>If you have already purchased the license, please activate them in the Activate Product field at the top of this page.</li>
        <li>Click here if you wish to receive demo license valid for 30 days.</li>
      </ul>
    </div>
    {{/ErrorZeroUser}}
    <table border="1" class="centerText">
      <thead>
        <tr>
          <th>Activation Keys</th>
          <th>Web Users</th>
          <th>Mobile Users</th>
          <th>Issued </th>
          <th>Expired </th>
          <th>Remaining Days</th>
          <th>Check Validation</th>
        </tr>
      </thead>
      <tbody>
      {{#Licenses}}
      {{#Valid}} 
      <!-- if key is Valid -->
      <tr>
        <th>{{Key}}</th>
        <td>{{WebMaxUsers}}</td>
        <td>{{MobileMaxUsers}}</td>
        <td>{{IssuedDate}}</td>
        <td>{{ExpireDate}}</td>
        <td>{{DaysRemaining}}</td>
        <td>Valid</td>
      </tr>
      {{/Valid}}
      {{^Valid}} 
      <!-- if key is NOT Valid -->
      <tr class="invalid">
        <th>{{Key}}</th>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td class="invalid">Invalid</td>
      </tr>
      {{/Valid}}
      {{/Licenses}}
      <tr class="total">
        <th>Total</th>
        <th>{{WebMaxUsers}}</th>
        <th>{{MobileMaxUsers}}</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
        </tbody>
    </table>
    
  </div>
  <div class="component">
        {{^Licenses}}
    <table border="1" class="centerText">
      <thead>
        <tr>
          <th>Activation Keys</th>
          <th>Web Users</th>
          <th>Mobile Users</th>
          <th>Issued </th>
          <th>Expired </th>
          <th>Remaining Days</th>
          <th>Check Validation</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th colspan="7"><div class="noKey">You are currently using unlicensed release of FonB. Please click here to register and receive the demo activation key on your email that will work for 30 days. Once you receive the activation key, enter it in the "Activate License" field to start using FonB. </div></th>
      </tr>
      {{/Licenses}}
        </tbody>
    </table></div>
  <div class="component">
    <div style="clear:both">
      <h1>License Inventory</h1>
    </div>
    <div style="width:45%;float:left;">
      <table border="1">
        <thead>
          <tr>
            <th><h2>Mobility licenses</h2></th>
            <th class="big">{{WebMaxUsers}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Current User Count</th>
            <td>{{WebUserCount}}</td>
          </tr>
          <tr>
            <th>Maximum Allowed Users</th>
            <td>{{WebMaxUsers}}</td>
          </tr>
        {{#ErrorWebMaxUserLimit}}
        <tr>
          <th>Required User Licenses</th>
          <td>{{ExtraWebUsers}}</td>
        </tr>
        {{/ErrorWebMaxUserLimit}}
        {{^ErrorWebMaxUserLimit}}
        <tr>
          <th>Remaining Usable Licenses</th>
          <td>{{ExtraWebUsers}}</td>
        </tr>
        {{/ErrorWebMaxUserLimit}}
          </tbody>
      </table>
    </div>
    <div style="width:45%;float:right;">
      <table border="1">
        <thead>
          <tr>
            <th><h2>User Portal Licenses</h2></th>
            <th class="big">{{MobileMaxUsers}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Current User Count</th>
            <td>{{MobileUserCount}}</td>
          </tr>
          <tr>
            <th>Maximum Allowed Users</th>
            <td>{{MobileMaxUsers}}</td>
          </tr>
        {{#ErrorMobileMaxUserLimit}}
        <tr>
          <th>Required User Licenses</th>
          <td>{{ExtraWebUsers}}</td>
        </tr>
        {{/ErrorMobileMaxUserLimit}}
        {{^ErrorMobileMaxUserLimit}}
        <tr>
          <th>Remaining Usable Licenses</th>
          <td>{{ExtraWebUsers}}</td>
        </tr>
        {{/ErrorMobileMaxUserLimit}}
          </tbody>
      </table>
    </div>
  </div>
  <section class="related"></section>
</div>
<!-- Activate Product Ends -->
<div class="component" style="border-top: #ccc solid thin;padding-top: 60px;">
    <div style="clear:both">
      <h1 style="font-size:27px;">License FAQs</h1>
    </div>
<div style="width:45%;float:left;">
<ol>
<li><h3>1. Why am I seeing this page?</h3>
You’re here because FonB couldn’t find any license associated with this release. You are either using fresh installation or your license is invalid/expired.
</li><li><h3>
2. Why is the licensing data not available?</h3>
If there is no record of activation key, you are running an unlicensed version of FonB. In order to get the licenses you need to register on Aptus Website. Once you have registered, you will receive the activation key that you will be able to use here to start using FonB.
</li><li><h3>
3. How to activate the license?</h3>
Copy the activation key you have received in your email and past it in “Activate License” field. Press the “Activate License” button to start using FonB.
</li><li>
<h3>4. I am trying to activate license but having ___________ error. Why is that?</h3>
It seems that you are entering wrong activation key. Please re-confirm if the key is correct. In case the problem persists, contact your system administrator or our designated partner in your region.</li>
</ol>
</div>
<div style="width:45%;float:right;">
<ol>
<li value="5"><h3>5. I have spare n number of Mobility and m number of User Portal Licenses, but I am unable to use it. How can I use them?</h3>
Go to users.cfg file and under corresponding user to whom you want to assign this license, add Product = “Mobility”. Repeat the same for all n users you want to assign spare Mobility Licenses. Similarly, repeat the same procedure with Product = “User Portal” for the users you want to assign the m number of User Portal Licenses. </li>
<li value="6"><h3>6. My current user count has exceeded the allowed users as per my license. How to let FonB work with maximum allowed users?</h3>
Go to users.cfg and comment out (put semicolon ; in the beginning of) the password fields under the user definition you want to exclude from licensed users. Users with active (non commented) passwords field are counted as licensed users. Please note that users with password uncommented and no product defined will be considered consuming two licenses (1 Mobility & 1 User Portal).</li>


</ol>
</div>
    </div>
</body>
</html>
