<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
        <title>APTUS End-User Portal</title>
        <link rel="shortcut icon" href="images/CommManager_1.png">

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.border {
	border-top-style: solid;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
}
-->

</style>
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload = "focusLogin()">
 
<script LANGUAGE="JavaScript">
<!--
function focusLogin() {
			document.forms[0].username.focus();
	    }

function validate_login()
  {
  	ok=1;
  	errors = "";
     
     if(document.forms[0].password.value == "") 
     	{ 
  		errors = " - Pin Code must be entered.";
  		ok=0;
  		document.forms[0].password.focus();
  	}
      if(document.forms[0].username.value == "") 
     	{ 
  		errors = " - Extension Number must be entered.";
  		ok=0;
  		document.forms[0].username.focus();
  	}
      
  	if(ok == 0)
  	{
  		// alert(errors);
  		$('font[color="#FF0000"]').text(errors);
  		return false;
  	}
  	else{

      $.ajax({
        url : "login",
        data : $("form[name=login]").serialize(),
        type : 'post',
        success: function(data){
          window.location.href = "/{{RedirectPath}}";
        } ,
        error : function(xhr,status,error){
          var message = "";
          if(xhr.responseText.length < 200){
            message = xhr.responseText;
          }
          else{
            message = "Response status: "+ xhr.status + "<br/> Error: " +error;
          }
          $('font[color="#FF0000"]').html(message);
        }
      });
    }
    return false;
  }

	-->
</script>
<div align="center">
  <table width="102%" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="background-position: right; background-repeat: no-repeat;">
    <tr> 
      <td width="80%" height="80">&nbsp;</td>
      <td width="20%" valign="top">&nbsp;</td>
    </tr>
  </table>
</div>
<form name="login" method="post">
  <table border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#333333" bgcolor="#999999" class="border" valign="center">
      <td width="465" colspan="2" bgcolor="#FFFFFF"><img src="images/headerofficial.gif" width="465" height="90"></td>
    <tr>
      <td colspan="2" bgcolor="#999999"><div align="center"> </div>
        <div align="center"> <font color="#FFFFFF" face="Arial, Helvetica, sans-serif"><b><font color="#000000">Login</font></b></font><font color="#000000" size="2" face="Arial, Helvetica, sans-serif"></font></div>
        </td>
    </tr>
    <tr > 
      <td colspan="2" bgcolor="#EFEFEF"> <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><br>
          </font></div>
        <table border="0" align="center">
          <tr valign = "center"> 
            <center>
              <td width="420">
		<div align="center">
			
			<font face="Arial, Helvetica, sans-serif" size="2"><font color="#FF0000" id="errormsg"></font></font> 
                  <br>
                </div>
                <table align="center">
                  <tr> 
                    <td><div align="right"><strong><font face="Arial, Helvetica, sans-serif" size="2">Extension Number:</font></strong></div></td>
                    <td> <input type="text" name="username"> </td>
                  </tr>
                  <tr> 
                    <td><div align="right"><font face="Arial, Helvetica, sans-serif" size="2"><strong>Pin Code:</strong></font></div></td>
                    <td> <input type="password" name="password"> </td>
                  </tr>
                </table>
                <div align="center"> 
                  <input type="submit" name="Login" value="Login" onClick="return validate_login()">
                </div>
                </div>
                </td>
            </center>
          </tr>
        </table>
		<div align="center"></div></td>
    </tr>
  </table>
</form>

</body>
</html>
