<!-- BEGIN: main -->

<div style="text-align: center">
<h1>Re-Writing the Phonebook numbers Wizard </h1>
<br><br>
<h1>  Step 2 of 5 (Domistic Numbers)</h1>
<hr>
</div>

<!-- BEGIN: error -->
<span style="font-weight: bold; color: red">{error}</span><hr/>
<!-- END: error -->

<form method="post">

<h2>How should we re-write the following telephone numbers to match your telephone dialplan?</h2>


<!-- BEGIN: row -->
<hr>
<h3><span class="number">{id}-</span>How do we re-write a {dial_count} digit none zero number (Domistic Number) Starting with {dial_string}?</h3>
<div>
<h3>Example: {dial_example}</h3>
	<div>
		<h4>Whould be rewriten to become:</h4>
		<select>
<!-- BEGIN: option -->
			<option>{dial_option}</option>
<!-- END: option -->
		</select>
	</div>
</div>

<hr>
<!-- END: row -->


  <div style="text-align: center">
    <input type="submit" name="submit_step5_domistic" class="btn" value="submit" />
  </div>
</form>

<!-- END: main -->
