<?xml version="1.0" encoding="UTF-8"?> 
<SnomIPPhoneMenu>
	<Title>Menu</Title>
	<MenuItem>
		<Name>Contact Search</Name>
		<URL>http://{{Host}}/xml/en/snom/phonebook.xml</URL>
	</MenuItem>
	<MenuItem>
		<Name>Call History</Name>
		<URL>http://{{Host}}/xml/en/snom/listcallhistory.xml</URL>
	</MenuItem>
	<MenuItem>
		<Name>Logout</Name>
		<URL>http://{{Host}}/xml/en/snom/menu.xml?logout=yes</URL>
	</MenuItem>
</SnomIPPhoneMenu>